///////////////////// Author: Govardhanreddy ///////////////////////
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: "OpenSans-Regular";
	font-weight: 100;
	font-style: normal;
    src: url("fonts/opensans/OpenSans-Regular.woff");
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
}
html, body{
	font-family: "OpenSans-Regular", Open Sans, Sans-serif;
}
body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}
img.logo{
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  height: 54px!important;
}
.logo-text{
  color: #02C39A;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: top;
}
.material-icon-color .material-icons{
	color: #000000!impportant;
}
.main-nav{
  background-color: #ffffff!important;
}
nav ul a{
  color: #227722;
}
nav ul a:hover{
background-color: #e6e6e6;
}
nav ul a:active{
  background-color: green!important;
  color: #ffffff!important;
}
.cont-sub-head{
	color: #008b8b;
	font-size: 32px;
	margin: 20px;
}
.address{
	margin-left: 30px;
  color: #000000;
  font-size: 16px;
}
.map-responsive, .map-responsive iframe{
	height: 350px;
	width: 100%;

}
.footer {
    background-color: #4d4d4d;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    opacity: 0.96;
    height: 40px;
}
.no-margin{
  margin: 0px!important;
}
.no-padding{
	padding: 0px!important;
}
